[2020-09-03 21:50] shawntabrizi opened #2 "Automatically generate chain spec"
I see no reason why the user must provide a chain spec for the relay chain to get this all working.
We should be able to generate one from the binary and modify it if needed.

[2020-09-03 22:53] shawntabrizi opened #3 "Add more config flags"
I have added some TODOs to add more configuration flags that can be enabled from the `config.json` or directly from the CLI.

- [ ] Turn on/off node output

- [ ] Turn on/off polkadot js error messages

- [ ] Configure DB output instead of `--tmp`

[2020-09-03 22:54] shawntabrizi opened #4 "Handle nonce for submitting extrinsics to relay chain"
Right now we dont really handle the nonce when submitting potentially multiple extrinsics in a block.

This is avoided by having a `sleep(6000)`, but it would be better to simply track the nonce internally.

Cant use `nextNonce` api, since that is not on all Substrate chains.

[2020-09-03 22:56] shawntabrizi opened #5 "Detect when starting a node may have failed"
Right now we use connecting to the node via Polkadot JS API as a detection mechanism for when a node has successfully started. But it could be something goes wrong, and we are just left waiting forever.

Should think of a better way to handle this. Potentially having some timeout or string detection from the `child_process`

[2020-09-04 02:51] zhangtianai opened #6 "run polkadot-launch config.json error"
[code]

[2020-09-04 11:26] TomaszWaszczyk opened #7 "Yarn"
I think that Yarn packages manager should be recommended.

[2020-09-04 12:23] shawntabrizi commented on #6
Did you create a `config.json` file?

[2020-09-04 12:32] shawntabrizi commented on #7
Added here: https://github.com/shawntabrizi/polkadot-launch#development

[2020-09-04 12:32] #7 closed

[2020-09-05 09:49] wpank opened #8 "Output Logs to Files"
Instead of having all the logs go to the console, it would be more convenient to append each node output to a separate log.

[2020-09-08 10:07] shawntabrizi commented on #8
closed https://github.com/shawntabrizi/polkadot-launch/commit/cb41101146613954529f44ed946c328ba4213103

[2020-09-08 10:07] #8 closed

[2020-09-14 14:36] shawntabrizi commented on #2
Completed

[2020-09-14 14:36] #2 closed

[2020-09-14 14:36] #6 closed

[2020-09-17 13:01] shawntabrizi opened #9 "Fire up a local polkadot telemetry instance"
conected to all nodes

[2020-09-17 13:03] shawntabrizi opened #10 "Fire up a local subscan/polkascan instance"
One instance for each network: 1 relay chain, N parachains

[2020-09-17 13:04] shawntabrizi opened #11 "Web service which everything in a nice iframe-based page along with the logs"

[2020-10-06 13:10] JoshOrndorff opened #12 "Support user-generated keys"
Currently the script allows the relay chain validators to be chosen from `--alice`, `--bob`, etc. A nice feature would be to generate custom keys (or allow the user to supply their own keys). The tricky part comes because you have to restart the node after inserting keys of the grandpa task won't cast votes.

[2020-11-03 14:52] shawntabrizi commented on #12
Do i need to restart the node?

I generate the chain spec on the fly with the users we expect:

https://github.com/shawntabrizi/polkadot-launch/blob/master/src/spec.js

So unless there is something else extra about the keys you want to generate, you would just need to add support for a different JSON config across a couple of files.

[2020-11-03 16:20] JoshOrndorff commented on #12
Yeah that code you linked for generating the specs is really nice and wouldn't need much modification.

One difference though, is that when you use custom generated keys, you have to insert them to the node via RPC (you can't use `--alice` or something similar). I think that can be handled though.

The part I'm not as sure about is that the grandpa task doesn't start voting until you've inserted t

[2020-11-18 18:11] JoshOrndorff opened #15 "Repo takes a long time to clone"
Probably because of the binaries in the `bin` directory. I see why they are useful. What about using git lfs?

[2020-11-19 19:28] pepyakin opened #18 "Remove the RPCs for setting configuration values in favor of on chain config"
i.e. https://github.com/paritytech/polkadot/issues/1986

[2020-11-19 20:59] xlc opened #19 "Support parachains"
This doesn't work with our parachains because we have custom types.

Should either have a way to import additional types or avoid using polkadot.js at all.

`api.rpc.system.localPeerId()` and `api.rpc.system.peers()` can be called trivially without polkadot.js

`api.tx.sudo.sudo(api.tx.registrar.registerPara(id, always, wasm, header))` is bit complicated but can just be a flag to disable this and

[2020-11-20 20:11] #18 closed

[2020-11-28 03:36] shawntabrizi commented on #19
@xlc the config.json file now has a types section for custom types. let me know if this is not enough.

[2020-11-28 03:36] #19 closed

[2020-11-28 03:42] shawntabrizi commented on #15
I don't really see why we would optimize for cloning this project. without including the binaries, users would not really be able to test easily. If it is really a big issue I can remove them, but I have my doubts.

[2020-11-28 03:42] #15 closed

[2020-12-01 18:45] JoshOrndorff commented on #15
Would you be interested in a PR that grabs the nodes from published docker images? There could be a default docker images (maybe published by CI in this repo or using the ones from the cumulus workshop) or the user could point to their own docker images in the config file.

[2020-12-01 18:46] JoshOrndorff commented on #15
cc @joelamouche

[2020-12-01 23:08] shawntabrizi commented on #15
What is the scenario here @JoshOrndorff ?

This is a NodeJS project. It is meant to be installed with NPM and then run using  a local config file. All the things you are describing seem specific to some other use of this project.

[2020-12-02 01:37] JoshOrndorff commented on #15
The scenario is that we want to use this tool to start up a network and run integration tests against our parachain. By integration tests I mean start up an actual relay chain and parachain and then use a javascript testing framework to submit transactions and verify expectations.

We already have these integration tests running against a manual-seal-based node because it can easily be started in

[2020-12-02 02:40] shawntabrizi commented on #15
In my opinion, the right way to do this is to install polkadot launch via NPM as a first step. This is the same as you would do with any utility you want to use in your CI.

[2020-12-02 13:03] JoshOrndorff commented on #15
I agree with installing polkadot-launch via npm, and pointing to the parachain node that CI just built. But I don't want to have to compile the parachain each time. I believe that's your exact logic for saying `without including the binaries, users would not really be able to test easily`. I basically agree with you on that. I'm just suggesting that instead of including large platform-specific bin

[2020-12-02 13:42] pepyakin commented on #15
Assuming you have a docker image with the required binaries, why don't you just build a another docker image that layers polkadot-launch with the required paths on top? But then if you can host a docker image, I think it's pretty much a roundabout way to host binary images with a lot of crap that is brought with a docker image. Although I understand that dockerhub provides hosting for your images,

[2020-12-03 19:08] pepyakin opened #27 "Supply the `types` with the repo, and allow configs to supply additional/override types"

[2020-12-03 19:42] bkchr commented on #27
We already merged some types upstream. I think the goal should be to move as much as possible upstream and not track it in here 🙈

[2020-12-03 19:53] pepyakin commented on #27
oh good point. Can you show me where is the upstream?

[2020-12-03 20:12] shawntabrizi commented on #27
https://github.com/polkadot-js/api/pull/2895 <- here

[2020-12-04 13:20] pepyakin commented on #27
Thanks folks, that's the way to go

[2020-12-04 13:20] #27 closed

[2020-12-08 17:13] crystalin opened #30 "Support for different relay/parachain types"
In the case of Moonbeam, we have incompatible types in the relay and the parachain (like the AccountId being H256 in one and H160 in the other). It would be good if we can separate the types to define in the relay and the ones to define for the parachain inside the config file.

[2020-12-08 18:17] bkchr commented on #30
AFAIK we only require the types for the relay chain, because we send transactions to the relay chain. But we don't send transactions to the parachain.

[2020-12-08 18:37] pepyakin commented on #30
We used to need them to some degree, since we did connect to the cumulus node through ws. Not anymore [though](https://github.com/shawntabrizi/polkadot-launch/commit/2ba06c7626eeeaed0276f1f8cdf81be4ccb0e83e#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556L87)

[2020-12-08 20:29] crystalin commented on #30
That makes it easier, thanks :)

[2020-12-08 20:29] #30 closed

[2020-12-10 10:19] joelamouche opened #31 "Use polkadot-launch to test Moonbeam"
- we need to use the 'ethereum' type for the keyring. How should we go about this? Add a field in the config?
- the setBalance function is called on the relaychain api. Shouldn't it be called on the parachain instead?

[2020-12-11 09:04] bkchr commented on #31
Polkadot-launch is not for setting up your parachain. It is for setting up the relay chain and registering the parachains. Anything after this is up to you.

[2020-12-11 10:39] joelamouche commented on #31
@shawntabrizi answered my questions:
The setBalance is meant for the relaychain indeed and this is why it has to use sr25519

[2020-12-11 10:39] #31 closed

[2020-12-11 11:32] joelamouche opened #32 "Allow multiple collators for the same parachain"
As discussed with @shawntabrizi

Track which parachains we registered, and if the parachain id is a duplicate we do not register

[2020-12-11 15:53] #32 closed

[2020-12-21 18:30] joelamouche opened #36 "Change n+1 warning"
Currently, if we have <= relaychain nodes than parachain nodes, we get the `Must have more relaychain nodes than parachains.` warning and end process.

1. The n+1 rule is only relevant for *different* parachains but should not throw this if multiple collators are on the same parachain (id in this case)
2. I heard this n+1 rule is now an n rule, so this should be updated

[2020-12-22 16:08] pepyakin opened #37 "Parachain host configuration overrides"
Sometimes it may be worth to run a testnet with altered configuration values for parachain host. E.g. if one tries to debug parachain upgrades, it makes sense to decrease some values in the parachain configuration so that there is no need to wait 600 blocks for an upgrade to take place.

E.g. this function would do the job for the aforementioned example

[code]

however that's not extendable and a

[2021-01-03 04:06] crystalin opened #38 "Better support unhandled promise rejections"
Depending the version of Node, unhandled promises rejections exit the program.
It seems some part of the program is not handling some promises correctly

I am using node 15.5.

After putting an handler (in index.js):
[code]

here is the log:
[code]

It seems to be related to yaeti (I'm not familiar with) and websocket.

[2021-01-03 04:31] crystalin commented on #38
Also another error that appears a bit later:
[code]

[2021-01-04 11:32] joelamouche commented on #38
The second error is due to the config not having a "simpleParachains" field, as added recently (https://github.com/paritytech/polkadot-launch/pull/25). Btw, we should have a talk about what this adder-collator is

[2021-01-05 15:01] joelamouche opened #41 "Ws ports not open"
Have you tried connecting to the ws ports of the collators?
After running
`netstat -p tcp -van | grep LISTEN`
The ws ports are not open
When I try to connect to them with web3 it says `connection not open on send()`

[2021-01-07 10:12] joelamouche opened #43 "convert to typescript"
Is there any reason this project is not written in typescript?
I'd be happy to take that on

[2021-01-07 13:12] pepyakin commented on #43
I think I'd support that. What @shawntabrizi would say?

Before that though I'd prefer https://github.com/paritytech/polkadot-launch/pull/28 to be merged 😄

[2021-01-11 15:52] pepyakin opened #46 "Nonce handling"

[2021-02-01 12:35] pepyakin commented on #43
FWIW, it's merged now

[2021-02-01 14:48] joelamouche commented on #43
OK @shawntabrizi Can I go ahead and convert the code to typescript?

[2021-02-01 15:51] shawntabrizi commented on #43
Of course, go for it :)

[2021-02-03 14:04] joelamouche opened #52 "Command failed: /Users/antoineestienne/GitHubRepo/polkadot-launch/bin/adder-collator-mac export-genesis-state"
When running the script on master on a mac with unzipped binaries from mac.zip:

![Screenshot 2021-02-03 at 15 03 22](https://user-images.githubusercontent.com/16758383/106757711-fd5b1400-6630-11eb-93b0-0fdf6b6a3bca.png)

[2021-02-03 15:38] joelamouche commented on #52
Remove adder-collator-genesis or remove export-genesis-state?

[2021-02-03 15:56] pepyakin commented on #52
Remove the compiled binaries from the repo.

[2021-02-03 16:07] joelamouche commented on #52
But then how would I test it?

[2021-02-03 16:23] pepyakin commented on #52
Test what? polkadot-launch is a tool that allows you to quickly spin up a testnet locally with given relay-chain and collator nodes. I think it's reasonable to assume that the user of polkadot-launch wants to test either the relay chain node or the collator. Since those move way to fast, and incompatibilities and improvements are added almost each day, there is little sense to keep those binaries

[2021-02-03 16:38] joelamouche commented on #52
I am currently working on this issue (https://github.com/paritytech/polkadot-launch/issues/43).
I could test it with a moonbeam config but then there would be no test for a simple collator.

[2021-02-03 16:43] pepyakin commented on #52
Ah, ok. You can use the `adder-collator` from polkadot. To build it, you can issue

`cargo build --release -p test-parachain-adder-collator --features=real-overseer`

then find the binary under `target/release/adder-collator`

[2021-02-03 17:00] joelamouche commented on #52
Ok thanks :)

Feel free to remove the binary, as long as you leave some instructions on how to build it in the README.

Oh and btw if you could assign me to issue 43 it would be nice.

[2021-02-04 13:07] joelamouche opened #54 "Remove binaries"
@pepyakin : 'Also, keeping these binaries in the repo leads to real inconveniences, see #15'

- remove binaries
- add instructions to build binaries

### add-collator
In polkadot
`cargo build --release -p test-parachain-adder-collator --features=real-overseer`
then find the binary under target/release/adder-collator

### relaychain
`cargo build --release --features=real-overseer`
then find the bin

[2021-02-04 13:08] joelamouche commented on #54
@pepyakin can you explain how to build rococo-collator please

[2021-02-04 15:06] pepyakin commented on #54
sure, `cargo build --release -p rococo-collator`

[2021-02-04 18:54] shawntabrizi commented on #54
binaries make it easy to test the software on its own. The repo should not be used as some part of some git clone process. Instead you can install the package with NPM which does not include the binaries.

I do not like the idea of accepting a PR which removes the binaries

[2021-02-04 19:00] pepyakin commented on #54
FWIW, this discussion started again, and my latest answer besides the one on #15 is here https://github.com/paritytech/polkadot-launch/issues/52#issuecomment-772635269

As you can see, it turned out that these binaries in #52 were (and still are) broken, which again supports my claim that it is cumbersome to maintain this way. To add on that, these binaries are also only for macOS and Linux users

[2021-02-04 22:25] bkchr commented on #54
I'm also for removing these binaries :D

[2021-02-04 23:30] shawntabrizi commented on #54
okay, yall can do what you think is best

[2021-02-05 21:52] shawntabrizi commented on #54
[code]

how to build binaries needed for this to work

[2021-02-08 07:28] #43 closed

[2021-02-08 07:44] #54 closed

[2021-02-09 17:04] joelamouche opened #56 "`Promisify` functions"
I think it would improve the reliability and usability of this repo if we made functions return Promises that would resolve at the right moment.

So for example resolve registerParachain when the tx is finalised, as implemented here: https://github.com/PureStake/polkadot-launch/blob/40c3e2b6420c7dca7720ec96e7303909d1a72912/src/rpc.ts#L52

Or resolve `startCollator` when it logs "Listening for new

[2021-02-16 19:51] brenzi opened #57 "add typescript to dependencies"
I had to do
[code]
for the build to work. Guess you'd want to add that to dependencies

[2021-02-17 18:13] gregdhill opened #58 "Polkadot-launch does not wait for relaychain to start"
This may be an issue with polkadot{.js} but `ApiPromise` does not wait for the polkadot node to start which crashes this tool on `connect`.

[code]

[2021-02-17 18:21] pepyakin commented on #58
Oh, it certainly used to keep connecting. See also https://github.com/paritytech/polkadot-launch/pull/51#discussion_r569452425

[2021-02-18 23:01] wpank opened #60 "Doesn't work on Node >15"
Per some struggles from @rphmeier , this doesn't look to work on node versions greater than 14. Should either lock the version or explicitly mention what version to use in the readme.

[2021-02-19 14:21] #57 closed

[2021-03-01 15:51] joelamouche opened #65 "Make util functions promises"
For better reliance, we should make
- registerParachain
- setBalance
- startCollator
- and the // Then launch each parachain part of index

functions that return a promise that resolves when the process is done.
Checkout how I implemented it here: https://github.com/paritytech/polkadot-launch/pull/55/files

I volunteer to make these changes

[2021-03-02 19:55] JoshOrndorff opened #66 "Register parachains at genesis, rather than via sudo"
The paras pallet has a genesis config that allows paras to be registered from the very beginning.

https://github.com/paritytech/polkadot/blob/c55af37064b49719694e0e72aabfdac9e99fb1d2/runtime/parachains/src/paras.rs#L306

This would avoid having to wait for 20 block to roll by before your collators start collating.

[2021-03-03 16:08] joelamouche commented on #65
@pepyakin @shawntabrizi  ?

[2021-03-22 10:55] joelamouche commented on #65
@pepyakin @shawntabrizi Did you get any chance to read this?

[2021-03-22 14:54] joelamouche commented on #65
I don't think there is any downside in making those function return promises

[2021-03-22 20:23] bkchr commented on #65
Yeah, just do it. :)

[2021-03-22 21:28] shawntabrizi commented on #65
yeah go ahead :)

[2021-03-23 09:27] joelamouche commented on #65
cool :)

[2021-03-23 09:28] joelamouche opened #67 "Move spec files to specFiles folder"
Would look tidier if the specs were in a dedicated folder.
See how I did it here:
https://github.com/paritytech/polkadot-launch/pull/55/files#

[2021-03-23 09:35] joelamouche opened #69 "Export main 'start' sequence"
In order to be used by other projects for testing.
- rename main => start
- export start function
- new polkadot-launch command starts another js file that calls 'start'

[2021-03-23 09:50] joelamouche opened #70 "Save logs under wsPort instead of chain id"
Better when having multiple collators for the same parachain

[2021-03-23 11:16] bkchr opened #72 "Generate arbitary keys"
Instead of relying on using `--alice` etc, we should support adding as many validators as we want and the keys should be auto generated and inserted into the chain spec and the node.
This is quite useful when testing with more than 8 validators.

[2021-03-25 13:18] JoshOrndorff opened #74 "Allow multiple nodes on the same parachain"
#33 went part of the way toward solving this issue, but it is more of a hack. The real problem is that the config file's schema does not allow elegantly expressing multiple nodes on the same parachain. As an example, look at moonbeam's config. In order to start two collators on the parachain:

The bad current way:
[code]

The better desired way:
[code]

[2021-03-25 13:18] JoshOrndorff commented on #74
cc @joelamouche

[2021-03-25 13:37] joelamouche commented on #74
yep that would be nice. I can implement this as soon as I get the ok from the paritytech team

[2021-03-25 18:28] bkchr commented on #74
Sounds good :+1:

[2021-03-26 11:08] #70 closed

[2021-03-26 11:09] #56 closed

[2021-03-26 11:10] shawntabrizi opened #75 "Make messages cool"
Add emojis and indentation to console.log messages to improve readability.

[2021-03-26 11:10] shawntabrizi opened #76 "Refactor Sudo Txs"
This block is repeated everywhere:

[code]

Should refactor it so that it is simply reused

[2021-03-26 11:11] #41 closed

[2021-03-26 11:11] #36 closed

[2021-03-26 17:52] JesseAbram opened #77 "Can not find peers without bootnodes"
I personally on my laptop am having issues finding peers unless I specify the bootnodes. This seems like a local issue and I am going to work to fix it, in the meantime I updated the script to add the bootnodes after launching, if others also have this problem I am happy to create a PR.

[2021-03-26 20:22] bkchr commented on #77
Yeah, please upstream it.

[2021-04-07 15:37] joelamouche commented on #69
@bkchr @shawntabrizi what do you think? That would allow Moonbeam to use this package in our tests and CI

[2021-04-08 14:56] shawntabrizi commented on #69
What is your vision on how you want to use it?
In general I am fine with any refactorings that keep the original functionality the same and available. Seems like you want to start using polkadot-launch as a library though?
that might be beyond the scope of the project, and maybe we should consider more permanent library solutions then?

[2021-04-08 15:03] joelamouche commented on #69
Here (https://github.com/PureStake/moonbeam/blob/2961d51cf98b57e2a100bd4845d75d9225c95120/tools/test-staking.ts#L29) you have an example of how we use it as a library.
It's using the export in the moonbeam-launch branch (https://github.com/PureStake/polkadot-launch/blob/c4eea0a021cd75afc9f3bbc9e4a580e473e5e3ed/scripts_moonbeam/test_multi_node_transfers.ts#L62)

What are you thinking of specificall

[2021-04-14 16:06] JoshOrndorff commented on #66
Oh interesting. Even though there is that genesis config, it isn't exposed in the rococo runtime. Is that on purpose @bkchr

https://github.com/paritytech/polkadot/blob/master/runtime/rococo/src/lib.rs#L217

[2021-04-14 17:54] bkchr commented on #66
No, probably just overseen it.

[2021-04-18 02:48] shawntabrizi commented on #69
Well, it is not clear to me that this project functions as a library. It is more like a glorified script.

For some more dedicated solution, maybe code needs to live all the way into a Polkadot JS libarary.

In either case, it does not seem to me that this refactor would be negative to the project, so if you wanted to do it, I would be happy to accept.

[2021-04-22 12:50] joelamouche commented on #69
What is the process to do that?

[2021-04-23 04:14] shawntabrizi commented on #69
Starts with a conversation with @jacogr who is the owner and maintainer of that whole ecosystem. Practically speaking, lets stick with this for now :)

[2021-04-24 17:39] shawntabrizi opened #84 "Overwrite the Upgrade Frequency and Delay for Testnet"
instant upgrade should just be an alteration in the relay chain config
which i would hope is set in the genesis spec
there's two fields which should both be set to 1 for testnets where security isn't an issue

[code]

[2021-04-24 17:40] shawntabrizi opened #85 "Set up HRMP Channels in Genesis rather than TX"
would also be nice if the HRMP channels could be setup as part of the chainspec too

[2021-04-24 18:49] shawntabrizi commented on #84
closed by: https://github.com/paritytech/polkadot-launch/commit/94f6ed769f66d72ae20c182324f75c93543298da

[2021-04-24 18:49] #84 closed

[2021-04-24 20:57] #66 closed

[2021-04-24 21:38] shawntabrizi commented on #85
Requires update to hrmp pallet to support genesis config cc @pepyakin

[2021-04-24 21:38] shawntabrizi commented on #75
This has been improved with https://github.com/paritytech/polkadot-launch/pull/86

But can be better

[2021-04-24 22:04] shawntabrizi commented on #60
Is there a root cause why it might not work?

Is it a problem with polkadot js?

[2021-04-25 05:54] wpank commented on #60
I'm not too sure on the cause exactly. Also don't remember exactly what didn't work (and it may have inadvertently gotten fixed since then).

It was easily reproducible in Feb though with node 15. My guess would be some of the process spawning apis.

[2021-04-27 12:08] joelamouche commented on #74
This is now merged into master and can be closed

[2021-04-27 12:08] joelamouche commented on #65
This is now merged into master and can be closed

[2021-04-27 12:08] #65 closed

[2021-04-27 14:42] joelamouche commented on #58
Is this solved @gregdhill ?

[2021-04-27 17:17] #74 closed

[2021-04-28 05:27] rphmeier commented on #60
I remember I was getting websocket errors - we failed to initiate the connection to the endpoint

[2021-04-28 15:51] JoshOrndorff opened #89 "Schema version for config file"
The config file should have a field for schema version. When polkadot launch is run,it first checks the schema version to see if it knows how to interpret the config file. If not, fail with a reasonable error message. This will help users avoid confusion when they run an old version of polkadot launch with a new config file or vice versa.

[2021-04-28 16:24] JoshOrndorff opened #90 "`ERR_UNHANDLED_REJECTION` on node.js >= 15"
I'm trying to run this tool with the latest `rococo-v1` branches.

Polkadot: 127eb17a25bbe2a9f2731ff11a65d7f8170f2373
Cumulus: da4c3bac6e9584e65740ef5db4dbd2c31c1a91db

But it fails to start the chain(s) with this output.

[code]

The only thing I've changed in any of the repos is the paths to my binaries in the config.json file.

[2021-04-28 16:27] JoshOrndorff commented on #90
Looks like the error comes from here on the polkadot side https://github.com/paritytech/polkadot/blob/rococo-v1/runtime/parachains/src/util.rs#L54

[2021-04-28 16:35] al3mart commented on #90
Faced the same warning today when building raw chain specs (not using polkadot launch, though), I don't think that is the origin of the crash as, even after prompting the warning my chainspec was successfully built.

[2021-04-28 17:54] JoshOrndorff commented on #60
Title should be `Doesn't work on Node >= 15` greater than or equal to.

[2021-04-28 17:57] JoshOrndorff commented on #60
I also reported this in #90. This issue came first, but that one is more descriptive, so might make sense to keep that one. Up to you guys.

[2021-04-28 18:24] JoshOrndorff opened #91 "Support custom session length in config.json"
Since https://github.com/paritytech/polkadot/pull/2167, polkadot has supported a custom session length in the chain spec file. However this property is _not_ part of the `runtime_genesis_config`, which means it can't be modified by the mechanism introduced in #88.

This issue is to support custom session length in polkadot-launch's `config.json`. I can imagine two potential solutions.
1. Extend po

[2021-04-28 18:52] shawntabrizi commented on #90
Joshy reported in chat that downgrading to Node v14 solved this problem.

Not sure what is causing it though, would be very happy to get some insight from a JS god

[2021-04-28 18:53] shawntabrizi commented on #60
I agree, #90 should be used to track this moving forward.

[2021-04-28 18:53] #60 closed

[2021-04-28 18:55] shawntabrizi commented on #90
https://betterprogramming.pub/whats-new-in-node-js-15-fc24e87e2590

[2021-04-28 19:00] shawntabrizi commented on #91
@JoshOrndorff i think it should be easy enough to support it, but can you describe how to do it

[2021-04-28 20:31] JoshOrndorff commented on #91
Yeah exactly. The output of `polkadot build-spec --chain rococo-local` is

[code]

[2021-04-29 02:58] shawntabrizi commented on #89
the `check` file should basically do the same.

[2021-04-29 15:49] JoshOrndorff commented on #89
What is the `check` file?

[2021-04-30 02:28] shawntabrizi commented on #89
https://github.com/paritytech/polkadot-launch/blob/master/src/check.ts

[2021-04-30 14:10] JoshOrndorff commented on #89
Oh nice. Didn't realize you had it already.

[2021-04-30 14:10] #89 closed

[2021-04-30 22:57] #90 closed

[2021-05-04 14:12] vyorkin commented on #58
I've just tried the patch from @gregdhill, it successfully connects to relay-node's websocket port, the only issue is that it just tries to do it too early and produces a few warnings

[2021-05-04 18:59] shawntabrizi commented on #58
Yeah that is expected. The time it takes to start up a node and the websocket port is variable. Best thing i could think of was just trying to connect until it works.

[2021-05-04 18:59] #58 closed

[2021-05-04 19:01] shawntabrizi commented on #58
This should actually be solved by: https://github.com/paritytech/polkadot-launch/pull/92

[2021-05-11 13:19] JoshOrndorff opened #96 "Support the `chain` field for parachains just like for Relay chain"
When configuring the relay chain the user can put a field in the config like `"chain": "rococo-local"`. This indicates a starting point for the relay chain spec that will be customized.

This would be very useful on the parachain side too. Even if no customization happens on the para side, it would still be useful to specify `"chain": "local"`.

Currently Polkadot Launch does not specify any speci

[2021-05-11 13:24] JoshOrndorff opened #97 "Support custom Polkadot JS types on the parachain side"
Currently the launch config has a key called `types`. This allows the user to insert custom types that are needed on the _relay_ chain side. This is useful and necessary because if launch can't communicate with the relay chain, it can't submit transactions.

There is currently no corresponding support for the Parachains. I recommend we move the current `types` field into the `relaychain` section,

[2021-05-11 13:27] JoshOrndorff opened #98 "Support `name` field for parachain nodes"
Currently launch supports the `name` field for relay chain nodes in order to quickly insert the `-alice` flag for example. This also allows the relay chain nodes log files to have nice names like `alice.log`.

With proper consensus algorithms coming to cumulus in both https://github.com/paritytech/cumulus/pull/371 and https://github.com/paritytech/cumulus/pull/429/ parachain nodes will need sessio

[2021-05-14 13:58] pepyakin commented on #85
Was addressed by https://github.com/paritytech/polkadot-launch/pull/95

[2021-05-14 13:58] #85 closed

[2021-05-14 20:20] pepyakin opened #99 "Executable configuration"
Here is my brain dump on how polkadot-launch could be improved for me.

I mostly work on polkadot and cumulus and often use polkadot-launch. I have different workflows that I need to do. The way polkadot-launch allows to configure it is very limiting. To explain, here are the exact things I need to customize in the configuration.

**Node Flavors & Paths.** Since it's Rust and you gotta be multitas

[2021-05-28 21:12] JoshOrndorff commented on #96
I think this is actually working already, and I just didn't know it when I opened the issue.

[2021-05-29 01:18] GopherJ commented on #96
yes I also realized this yesterday.  Thanks

[2021-05-29 15:41] #96 closed

[2021-06-04 13:10] JoshOrndorff opened #103 "Polkadot Launch fails with no error"
After using this script reliably for a while, I suddenly can't start even the relay chain. The script just suddenly exits with no error and no log files created.

This terminal output shows that I haven't hacked the project (except customizing the paths to binaries in my config.json) and then it shows the error.

[code]

[2021-06-04 13:45] shawntabrizi commented on #103
Which versions of launch, polkadot, and cumulus are you using?

[2021-06-04 13:48] JoshOrndorff commented on #103
Versions:

Polkadot launch: `f161a73a` (latest master as of right now)
Polakdot: `release-v0.9.3`
Moonbeam: `afa835e6` (I know you didn't ask about that, but figured I'd mention it just in case)
Cumulus: `polkadot-v0.9.3`
node-js: `v14.17.0`

[2021-06-05 12:30] JoshOrndorff commented on #103
Oops, didn't mean to close this one.

[2021-06-07 02:15] #91 closed

[2021-06-23 08:42] GopherJ opened #115 "Invalid input: `rococo-local.json` only supported with `rococo-native` feature enabled."
I started to get this error after upgrading to polkaodt-v0.9.5, anyone with an idea? I'm using nodejs@v14.17.0

<img width="698" alt="image" src="https://user-images.githubusercontent.com/33961674/123065695-f860fa80-d441-11eb-8392-def5fd07a905.png">

[2021-06-23 08:57] GopherJ commented on #115
ok find the reason

[2021-06-23 08:57] #115 closed

[2021-06-23 11:50] GopherJ opened #116 "polkadot-launch cannot register parachain to rococo-local of polkadot-v0.9.5"
it works fine in polkadot-v0.9.4, but the registration doesn't work anymore in polkadot-v0.9.5

[2021-06-23 11:51] GopherJ commented on #116
<img width="609" alt="image" src="https://user-images.githubusercontent.com/33961674/123091796-58649a80-d45c-11eb-9f9f-f6ad76c22078.png">

[2021-06-24 01:21] GopherJ commented on #116
close as the master + #117 worked for me

[2021-06-24 01:21] #116 closed

[2021-06-24 06:26] clangenb commented on #103
I have a similar problem with the latest master, it does literally nothing.

It simply exits immediately without logs, even if I pass a nonexistent config file.

Polkadot-launch: a63cf06a6accc66d08fd1b3c437200b4a0dbb33f
Node: v14.16.1

[2021-06-24 06:39] clangenb commented on #103
nvm, did not see this change that changed the executable's name: https://github.com/paritytech/polkadot-launch/commit/82224520c8de1055d7cf698a1f73d93bf305caac

[2021-06-27 02:44] GopherJ opened #118 "support docker image & generate docker-compose.yml using config.json"

[2021-06-27 02:46] GopherJ commented on #118
using binary is quite limited. Also the approach of child processes can be improved by docker-compose

[2021-07-01 06:23] jimmychu0807 opened #119 "Not creating GenesisState/wasm and not registering for regular parachains?"
Comparing code:
https://github.com/paritytech/polkadot-launch/blob/master/src/runner.ts#L89-L111
vs
https://github.com/paritytech/polkadot-launch/blob/master/src/runner.ts#L114-L155

For "simple parachain" we create the genesis wasm & state, and register it, but not for regular parachain. Why so?

[2021-07-09 00:08] shawntabrizi commented on #119
@jimmychu0807 regular parachains are included in the genesis rather than registered via extrinsics. If you look closer you will see this alternate path for registration.

[2021-07-09 00:10] shawntabrizi commented on #118
@GopherJ what you are describing is quite the different application. The reason we want to use the binary here is so that we can quickly iterate on development. You can link this project into the build folder of your Substrate project, and constantly update and launch a node with the latest code changes.

Using docker for an alternative project seems like a solid idea, but not the intention of thi

[2021-07-09 00:10] #118 closed

[2021-07-09 00:11] shawntabrizi commented on #103
assuming this is stale

[2021-07-09 00:11] #103 closed

[2021-07-09 02:32] #119 closed

[2021-07-23 18:50] ghzlatarev opened #125 "Unable to add `` --telemetry-url "wss://telemetry.polkadot.io/submit 0"`` flag to parachain nodes"
Hi guys, this should reproduce on master, both ubuntu and mac.

Just try to add ``--telemetry-url "wss://telemetry.polkadot.io/submit 0" `` flag to any of the parachain nodes, like https://github.com/paritytech/polkadot-launch/blob/master/config.json#L50
I'm able to add this flag to the relay chain nodes.

I've tried all sorts of combinations of single quotes, double quotes and escape characters,

[2021-07-30 18:56] ghzlatarev commented on #125
I think I figured it out.

Had to add the flag like so:
[code]
No inner quotes and it launched.

This way if you add a ``console.log(args);`` here https://github.com/paritytech/polkadot-launch/blob/master/src/spawn.ts#L245 it should print:
[code]

But If you put inner quotes in the telemetry flag it will print: `` "--chain=/home/georgi/Desktop/workspace/Parity/polkadot-launch/rococo-local-raw.json

[2021-07-30 20:16] bkchr commented on #125
So this can be closed?

[2021-07-30 20:16] #125 closed

[2021-08-23 17:25] expenses opened #129 "Monitoring support"
This tool almost solves the issue I have here: https://github.com/paritytech/opstooling/issues/42, except that it doesn't do any kind of prometheus/grafana monitoring

[2021-08-23 19:23] bkchr commented on #129
The nodes run the prometheus exporter. It is not the job of polkadot launch to run grafana containers to collect these metrics.

[2021-08-23 19:23] #129 closed

[2021-08-24 12:35] shawntabrizi opened #131 "Remove "Simple Parachains""
It shouldn't be that we have two completely different logical paths for launching all regular parachains, and then launching the adder-collator.

Seems like we should update our code here, or even potentially update the adder-collator project to make all the parachains consistent.

[2021-08-31 15:49] joelamouche opened #132 "Add testing"
As done in https://github.com/PureStake/moonbeam/tree/master/tests/para-tests/moonriver in the moonbeam repo and in https://github.com/PureStake/polkadot-launch/tree/moonbeam-launch/tests, in the moonbeam fork of polkadot-launch.

[2021-08-31 15:49] joelamouche commented on #132
@shaunxw What type of tests should we have by default in that folder?

[2021-08-31 18:29] shawntabrizi commented on #132
I think something basic like a reserve transfer XCM is good enough? I am sure we will build out more tests as we think of them.

cc @bkchr @tomaka

[2021-09-01 15:42] joelamouche commented on #132
So now we have to figure out what binaries the tests will use.
At Moonbeam we download binaries from docker (only linux) and when developing localy on my mac I build polkadot nd moonbeam locally.
We could do the same but with cumulus instead of moonbeam, as per the README. The question is: do we currently have a docker image of cumulus build with `parachain-collator` ? @shawntabrizi

[2021-09-01 15:44] joelamouche commented on #132
Oh and also: does this parachain binary come with prefunded addresses?

[2021-09-01 16:26] shawntabrizi commented on #132
I think we can just use the docker files of Polakdot and Cumulus?

https://github.com/paritytech/polkadot/tree/master/docker

https://github.com/paritytech/cumulus/tree/master/docker

As for funds, when running in `--dev` alice is always prefunded.

Let me know if I am communicating on the right frequency here :)

[2021-09-01 16:32] joelamouche commented on #132
Ok great thats all the info I needed :)

[2021-09-14 12:40] Swader opened #137 "Flags don't have effect / behave strangely"
Modding Alice like so

[code]

or so

[code]

Will not open up WS for connections from the outside.

Running the binary directly with `kusama --dev --tmp --ws-external` works fine and immediately connects, which indicates that the flag is not being added.

Additionally, adding mutliple flags to alice like `["--ws-external", "--rpc-cors all"]`  will make it completely un-connectable even locally:

[2021-09-18 00:43] ArseniiPetrovich commented on #97
Workaround:
Open Polkadot.JS app. Navigate to "Settings" => "Developer" and paste the following snippet there:
[code]

[2021-09-18 01:02] ArseniiPetrovich commented on #97
@JoshOrndorff May I ask you why if I run the local node of Moonbeam and point PolkadotJS to it - it works awesome, and if I run a custom network using PolkadotLaunch - it doesn't work at all. And what is more interesting - how do I make it work properly? Any ideas on when do I get these custom types Polkadot.JS needs?

[2021-09-18 23:04] jessdecker opened #138 "Build instructions reference pulling in polkadot branch rococo-v1"
This currently doesn't build, and a related issue mentions this isn't supported. https://github.com/paritytech/subport/issues/229

[2021-09-20 20:57] JoshOrndorff commented on #97
I haven't had this problem in a while. I guess it either it got fixed or was caused by a mistake I was making locally. If you are trying to launch a local moonbeam network, you could get support in our discord.

[2021-09-20 20:59] ArseniiPetrovich commented on #97
@JoshOrndorff tried to reach you via the Element chat, but sure, let me try discord instead :)

[2021-09-21 16:43] ArseniiPetrovich commented on #97
Just got an update from the team via discord. There is a method now that will let you export the required custom types: https://github.com/PureStake/moonbeam/pull/838

[2021-09-24 13:45] joelamouche commented on #132
Sorry I have been busy with other tasks but I didn't forget this!

[2021-09-24 13:46] joelamouche opened #139 "KillAll should be async and await all processes to be killed"
useful for running serial tests

[2021-09-24 13:46] joelamouche commented on #139
Im going to take care of this unless somebody does it first

[2021-09-29 14:40] ordian opened #141 "Support running multiple binaries for validators"
This is useful for disputes testing.

[2021-10-11 08:44] Dengjianping opened #145 "Support metadata V14"
It seems `polkadot-launch` doesn't support `v0.9.11` now.
I have to bump related deps to make it work.

[2021-10-11 09:14] shawntabrizi commented on #145
bumped

[2021-10-11 09:14] #145 closed

[2021-10-12 02:26] jimmychu0807 opened #146 "`--force-authoring` flag handling in parachain node config"
Per discussion in #143. The `--force-authoring` flag is not needed when launching a parachain with more than one node (or else reporting error), but needed for a one-node parachain.

We may want to either add this in documentation or automate this in `polkadot-launch`.

[2021-10-18 16:25] joelamouche opened #148 "Fix rpc port and improve logs"
- Clearly display ports for relay and collators
- log rpc port

[2021-11-11 16:03] HCastano opened #151 "Remove Parachain ID Parameter"
Due to https://github.com/paritytech/cumulus/pull/739 `polkadot-launch` isn't able to launch collators properly since it makes use of the `--parachain-id` flag. We should update the tool accordingly.

[2021-11-11 22:09] NukeManDan commented on #151
bummer. I will make a note in the tutorial, and watch for this yo be resolved to re introduce using thus great tool.

[2021-11-29 17:20] crystalin opened #156 "[Improvement] Parachain should generate spec"
The parachains should generate the specs, like the relay does, in order to provide custom specs changes (like on the relay) in the config.
This would allow also to have the raw specs available (as a file) for extra node to be booted on that same network.

[2021-11-29 17:40] joelamouche commented on #156
tackles https://github.com/paritytech/polkadot-launch/issues/151

[2021-12-03 10:13] joelamouche commented on #156
Working on this

[2021-12-03 11:00] bkchr commented on #156
It doesn't support this anymore.

[2021-12-07 10:05] apopiak opened #158 "Write Docs for Integration Testing Support"
https://github.com/paritytech/polkadot-launch/pull/147 introduced parachain integration testing facilities. It would be great to document these as in:
+ what are the capabilities
+ a few words on how to use it
+ what are the requirements

cc @joelamouche (I don't think I can just assign you to the issue)

[2021-12-18 11:24] ghzlatarev opened #163 "Update `validation_upgrade_delay` in examples"
https://github.com/paritytech/polkadot/issues/4248 makes validation upgrade delay of less than 2 invalid, but 1 is still used in this repo.
This can be confusing.

[2021-12-25 20:59] #163 closed

[2022-01-07 12:57] tolak opened #165 "Failed to open HRMP channel manually"
By leaving `hrmpChannels` empty in config.json, i tried to open HRMP channels manually. All operations(send open/accept xcm message to relaychain) are succeed, but still cannot see record in hrmp storage item `HrmpChannel`.

- relaychain: rococo-local
- version: rococo-9130

Parachains have polkadot-v0.9.13 as dependency

[2022-01-12 12:56] tolak commented on #165
It turned out we had missed some configuration in the runtime. Close this issue.

[2022-01-12 12:56] #165 closed

[2022-01-31 10:38] seunlanlege commented on #4
currently blocked on this issue:

[code]

[2022-02-02 08:26] ltfschoen commented on #4
is your relay chain finalising blocks?

[2022-02-02 08:44] seunlanlege commented on #4
yes it is, had to remove the parachain balance so i don't run into this issue

[2022-02-02 10:00] ltfschoen commented on #4
so you just removed this line from the parachain?
i tried doing that but i still get the same error when i run the "Make transfer and listen to events" script after connecting to my local parachain that's running locally https://polkadot.js.org/apps/?rpc=ws%3A%2F%2F127.0.0.1%3A9999#/js

[2022-02-02 10:10] seunlanlege commented on #4
You might have to read the polkadot launch code, so you can see how to avoid this issue, that's what I did

[2022-02-19 14:35] ltfschoen opened #168 "Question: How to view relay chain and collator logs"
Is it possible to view the log of the relay chain and collator nodes that are spawned with polkadot-launch?

I tried using `print("Hello world")` in my collator runtime https://docs.substrate.io/v3/runtime/debugging/

And then for `startNode` (i.e. https://github.com/paritytech/polkadot-launch/blob/master/src/spawn.ts#L135), `startCollator`, and `startSimpleCollator` functions I changed `spawn(bin

[2022-02-20 21:34] #168 closed

[2022-03-03 14:51] brunopgalvao opened #169 "Apple M1 ARM failed to parse the chain spec using `polkadot-launch`"
I ran into an issue where I used the `stable-x86_64-apple-darwin` toolchain to compile the binaries which resorted to the following `polkadot-launch` error:

[code]
however, when I compile the binaries with `stable-aarch64-apple-darwin`  `polkadot-launch` works. What is interesting is that I can manually create the chain spec using the polkadot binary I compiled with `stable-x86_64-apple-darwin`,

[2022-03-03 15:05] brunopgalvao commented on #151
Currently the `polkadot-launch` config.json [parachains id](https://github.com/paritytech/polkadot-launch/blob/master/config.json#L43) values are overridden by [this line](https://github.com/paritytech/cumulus/blob/refs/tags/polkadot-v0.9.17/parachain-template/node/src/chain_spec.rs#L104) in cumulus:
[code]
this makes it challenging to have `polkadot-launch` spin off multiple parachains with diffe

[2022-03-03 21:03] brunopgalvao opened #171 "Parachain nodes are not peering with default config"
Using the default config with an additional parachain node, the relay-chain node and the parachain nodes are up and running but the parachain nodes are not peering. If I add the `--force-authoring` flag to the parachain nodes, the parachain starts creating blocks.

[2022-03-03 21:27] brunopgalvao commented on #171
Is `--force-authoring` required, according to these docs it is:
- https://docs.substrate.io/tutorials/v3/cumulus/connect-parachain/#start-the-collator-node
- https://github.com/paritytech/cumulus#launch-the-parachain
And according to these it is not:
- https://github.com/paritytech/polkadot-launch/issues/146
- https://github.com/paritytech/polkadot-launch/pull/143

If anyone can shed some light on

[2022-03-03 21:59] al3mart commented on #151
So, the `id` that you specify in the config file for polkadot-launch is the one that will be reserved in the relay chain an for which the state and wasm of the para will be registered, and only that.

The `paraId` on the state of the para will be defined by whatever exits on the chain_spec that para is running. What you have linked in your comment is  the genesis config where you can see the value

[2022-03-03 22:04] dharjeezy commented on #171
I am really experiencing this same issue.

[2022-03-04 11:00] al3mart commented on #171
polkadot-launch itself will ad the flag `--force-authoring` when we are running one node alone for the parachain. See source [here](https://github.com/paritytech/polkadot-launch/blob/f854c567cedf7f36dacd86faadd49a962ca97d52/src/spawn.ts#L221-L224)

A pair of things to check here then:
- Nodes are connected. We can run as many nodes as we want but if they are not properly connected, they will not p

[2022-03-07 21:19] brunopgalvao commented on #171
For parachain node peering to work for me, I had to replace the `id` field in the [config.json](https://github.com/paritytech/polkadot-launch/blob/master/config.json#L43):
[code]
with the `chain` field like this:
[code]
then my parachain collators peer, otherwise they do not.

Here is my config for reference:
- https://gist.github.com/brunopgalvao/1c694da8c9514a18c51fa68d30ec08e9#file-config-json-

[2022-03-08 01:35] GopherJ opened #173 "automatic npm deployment"
polkadot-launch's npm version is outdated for multiple times, it'll  be good to integrate CI for publishing new versions once PR is merged so that we can always use the correct version.

Currently the one on npm doesn't work with polkadot@0.9.16 it seems but the master works

[2022-03-08 02:47] GopherJ opened #174 "chain argument doesn't work?"
I specified a dev chain but it's syncing live chain

[2022-03-08 02:53] GopherJ opened #175 "read bad parachain id"
although I've specified `id` and `chain`, it's still reading bad parachain id

[2022-03-08 02:59] #175 closed

[2022-03-08 02:59] #174 closed

[2022-03-08 06:32] dharjeezy commented on #171
Alright... Thanks so much, will try this out and give you feedback.

[2022-03-11 17:01] #171 closed

[2022-03-14 07:03] brenzi opened #176 "support custom genesis state and wasm files for parachains"
For parachain teams who had an older version of their para registered on a live relay chain it would be great to reproduce exactly the same setup easily.
the configuration json file could accept  `ẁasm` and `state` files to be registered for the parathread on the relaychain

[2022-03-15 17:14] mffrench opened #177 "Rococo polkadot-launch parachain doesn't create blocks"
Hello,

I pushished some question in [substrate stack exchange](https://substrate.stackexchange.com/questions/734/rococo-polkadot-launch-parachain-doesnt-create-blocks), however looking that this will close soon and I don't get helpfull answer to understand why my parachain is not producing blocks I do a try here. Also mainly cause I've the impression there is a bug somewhere and probably somethin

[2022-03-30 08:01] brenzi commented on #156
this would also allow to change `genesis` values for parachains, which would be very handy

[2022-04-29 03:46] justinphamnz opened #179 "Debug XCM message when launching parachains with polkadot-launch"
Hello everyone,

I am wondering if we have the features to enable debugging with xcm to trace the log when we use launch parachains.

I tried to set up different flags on config but none of it worked.

`"flags": ["-lxcm=debug","--", "--execution=wasm"]`
`"flags": ["--", "--execution=wasm", "-lxcm=debug"]`

[2022-04-29 03:55] justinphamnz commented on #179
Sorry, my bad, it's actually worked with this flag. For future reference:

`"flags": ["--", "--execution=wasm", "-lxcm=debug"]`

[2022-04-29 03:55] #179 closed

[2022-05-18 04:15] gilescope opened #181 "--verbose flag"
would be nice to see more output from polkadot-launch so that we can see what's going wrong. Could -v, -vv and -vvv be wired up so that we get more details about what it's doing. (E.g. exact execution calls with all the arguments etc. so it can show you what magic it is doing.)

The readme is good at showing how to crank up the debug on the launched parachains and relay chains, but does not mentio

[2022-05-31 08:32] haerdib opened #184 "Upgrade to polkadot-v0.9.22 breaks polkadot-launch"
We've recently upgraded to `polkadot-v0.9.22`. Since then, the polkadot-launch script is able to start the relay chain and the first collator, but then it freezes, not continuing to start the second one. The logs of the first collator don't show anything unusual, and manually starting a second one works as well.

To ensure that this is not simply a faulty [commit on our side](https://github.com/in

[2022-06-01 17:38] pepoviola commented on #184
Hi @haerdib, Are you running from `master`? I think this issue was fixed by #183 .
Thanks!

[2022-06-02 13:21] niklabh opened #185 "Need github actions"
Please create a github action for this so that we can include it in parachains build actions.

[2022-06-03 06:00] haerdib commented on #184
Yes, that seems to have been the cause. Thanks for the feedback!

[2022-06-03 06:00] #184 closed

[2022-06-03 14:28] NachoPal opened #188 "`polkadot-launch` npm package does not work"
For version `2.2.0`

[code]

[code]

It works if used from the repo, though.

I noticed the `@polakdot/api` version is using is quite old. Maybe an upgrade would be something good to do.

[2022-06-03 14:31] shawntabrizi commented on #188
@NachoPal does master work?

[2022-06-03 14:31] NachoPal commented on #188
Yes, I updated the issue description

[2022-06-03 21:26] bernardoaraujor commented on #188
when using master I can get it to start, but parachains won't produce blocks.

[2022-06-06 14:10] shawntabrizi opened #189 "Deprecate `polkadot-launch` in favor of "Zombienet""
See https://github.com/paritytech/zombienet

FYI to those who follow this repo.

[2022-06-15 12:15] ChristianPavilonis commented on #177
This happens to me. Parachain stays at 0 for 1 hour until it starts producing blocks.

[2022-06-21 02:49] skyao2002 commented on #188
Bump, I'm using master and it doesn't even start, same error as above:

[code]

[2022-06-21 05:50] shawntabrizi commented on #188
I just pushed again and it works for me locally:

[code]

Can you all check again with 2.2.1?

[2022-06-21 05:55] shawntabrizi commented on #188
I dont know what is going on here. It works locally for me:

[code]

But I get the same error when installing the package via NPM

[2022-06-21 12:50] shawntabrizi commented on #188
Latest release 2.3.0 should work

[2022-06-21 12:50] #188 closed

[2022-06-27 16:42] dudo50 opened #194 "Unable to launch js files because polkadot-launch cannot be found"
Hello, when I install polkadot-launch with npm and global setting I get message -bash: polkadot-launch: command not found
Any known fixes for this? On ubuntu all worked well.
Laptop macbook pro 15 2016, newest os.
Thank you

[2022-06-30 13:25] ilja-khabarov commented on #194
feels like a problem with Yarn. This may help https://stackoverflow.com/questions/40317578/yarn-global-command-not-working

[2022-06-30 19:26] dudo50 opened #195 "Getting error x-textencoder"
Hello, when I try to launch json file I get following error. On other operating systems and devices it runs fine. What could be the issue? Thanks in advance!
<img width="589" alt="Snímka obrazovky 2022-06-30 o 21 24 26" src="https://user-images.githubusercontent.com/55763425/176761174-be199cc3-083b-475b-9691-6c68918ac08b.png">

[2022-06-30 19:32] #194 closed

[2022-07-01 03:15] doutv opened #196 "typo in Readme: hrmp channel config"
The `sender` and `recipient` in json config should be int type.

This example config in README does not work and produce the following error:
[code]
[code]

Should be
[code]

[2022-09-26 22:48] #75 closed

[2022-09-26 22:50] #76 closed

[2022-10-06 07:54] dzmitry-lahoda commented on #4
if zombienet handles that than sure need to switch

[2022-10-10 11:43] dzmitry-lahoda commented on #169
I see this from time to time on our linux ci, so just migrate to zombienet seems solution

[code]